@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

/* ---------- Button ---------- */
.c-btn {
  position: relative;
  width: 100%;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &__group {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.c-btn__primary {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  padding: 24px 12px;
  background-color: $black;
  color: $white;
  transition: $transition-2;
  &--text {
    z-index: 3;
    position: relative;
    font-size: clamp($fs16, 2.5vw, $fs18);
    font-weight: 400;
    text-align: center;
  }
  &--arrow {
    z-index: 3;
    position: absolute;
    top: 50%;
    right: 40px;
    width: 20px;
    transform: translateY(-50%);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    font-size: clamp($fs16, 2.5vw, $fs18);
  }
}