@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.scrolldown {
  position: absolute;
  bottom: 50px;
  left: 170px;
  z-index: 10;
}

.scrolldown-box {
  display: block;
  position: relative;
  text-decoration: none;
  svg {
    fill: $accent-green;
  }

  .scroll-text {
    width: 100px;
    height: auto;
    animation: rotation 10s infinite linear;
  }

  .scroll-icon {
    width: 25px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;
  }

  &:hover .scroll-icon {
    animation: move 1s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes move {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-50%, -35%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  75% {
    transform: translate(-50%, -65%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

// モバイルファースト
.scrolldown {
  display: none;

  @include mq(md) {
    display: block;
    left: 8rem;
  }

  @include mq(lg) {
    left: 12rem;
  }
}

.scrolldown-box {
  .scroll-text {
    @include mq(md) {
      fill: $accent-green;
    }
  }
  .scroll-icon {
    @include mq(md) {
      fill: $accent;
    }
  }
}
