/* ---------- About Page ---------- */
.p-about {
  // Concept Section
  &__concept {
    &--wrapper {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    &--message {
      padding: 120px 0;
      strong {
        display: block;
        font-size: 4rem;
        font-weight: 600;
        line-height: 2;
        text-align: center;
      }
    }
    &--list {
      margin: 40px 0;
    }
    &--item {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 6.4rem;
      figure {
        flex: 0 1 27.58333%;
        margin-right: 3.33333%;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
    &--info {
      flex: 1;
      h3 {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 2;
      }
      p {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.7;
      }
    }
  }

  // Company Section
  &__company {
    &--wrapper {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    &--table {
      width: 100%;
      max-width: 800px;
      margin: 40px auto;
      tr {
        border-bottom: 1px solid var(--dark);
      }
      th {
        width: 30%;
        font-size: 1.6rem;
        font-weight: 600;
        text-align: left;
        vertical-align: middle;
        padding: 20px;
      }
      td {
        width: 60%;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.7;
        text-align: left;
        vertical-align: middle;
        padding: 20px;
      }
    }
  }
  // Button
  &__btn {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
  }

  @media screen and (max-width: 991px) {
    &__concept {
      &--message {
        strong {
          font-size: 3.2rem;
        }
      }
      &--info {
        h3 {
          font-size: 2.2rem;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    &__concept {
      &--message {
        strong {
          font-size: 3.0rem;
        }
      }
      &--item {
        display: block;
        figure {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      &--info {
        h3 {
          font-size: 2.0rem;
        }
      }
    }
  }

  @media screen and (max-width: 575px) {
    &__concept {
      &--message {
        strong {
          font-size: 2.8rem;
        }
      }
      &--info {
        h3 {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
