.article {
  &--header {
    .entry-title {
      font-size: 2.8rem;
      font-weight: 600;
      margin: 16px 0;
      line-height: 2;
    }

    .eye-catch-wrapper {
      display: flex;
      .eye-catch {
        position: relative;
        margin-bottom: 0.6em;
        max-width: 100%;
        img {
          max-width: 100%;
          height: 100%;
          vertical-align: bottom;
          object-fit: cover;
        }
        .category-label {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .entry-content {
    margin-top: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;

    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.7;
      margin: 0 0 10px 0;
      padding-left: 10px;
    }

    h2,
    h3 {
      font-weight: bold;
    }

    h2 {
      font-size: 200%;
    }
    h3 {
      font-size: 180%;
    }
    h4 {
      font-size: 160%;
    }
    h5 {
      font-size: 140%;
    }
    h6 {
      font-size: 120%;
    }
    p {
      font-size: 100%;
      line-height: 2;
      margin: 0 0 2em 0;
    }

    // Image
    img {
      height: auto;
      max-width: 100%;
    }

    // List
    li,
    dt,
    dd {
      line-height: 2.2;
    }

    ul,
    ol,
    dl {
      margin-bottom: 2.4rem;
    }

    ol {
      list-style: decimal outside none;
      margin-left: 1.5em;
    }

    ul {
      list-style: circle outside none;
      margin-left: 1.3em;
    }

    li > ul,
    li > ol {
      margin-bottom: 0;
    }

    dt {
      font-weight: bold;
    }

    dd {
      margin-bottom: 1em;
    }

    // Table
    table {
      margin: 0 0 24px 0;
      width: 100% !important;
    }

    td,
    th {
      border: 1px solid #ccc;
      padding: 10px 15px;
      line-height: 2.2;
      background: #fff;
    }

    th {
      background: #f2f2f2;
      font-weight: normal;
    }

    table.table_no_border th,
    table.table_no_border td {
      border: none;
      padding-left: 0;
    }

    table.table_border_horizontal th,
    table.table_border_horizontal td {
      border-left: none;
      border-right: none;
      padding-left: 0;
    }

    // Block Quote
    blockquote {
      margin: 0 0 25px 0;
      padding: 40px;
      background: #fff;
      border: 1px solid #ccc;
      box-shadow: 0px 3px 0px 0px rgba(150, 150, 150, 0.1);
      position: relative;

      &::before {
        content: '"';
        font-style: italic;
        font-size: 30px;
        font-weight: normal;
        line-height: 40px;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 5px;
        left: 10px;
        color: #5cbcd7;
      }

      &::after {
        content: '"';
        font-style: italic;
        font-size: 30px;
        font-weight: normal;
        text-align: left;
        line-height: 60px;
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 7px;
        right: -2px;
        color: #5cbcd7;
      }

      cite {
        border-top: 1px dotted #aaa;
        display: block;
        padding: 20px 0 0 0;
        font-style: italic;
        text-align: right;
        font-size: 90%;
      }
    }

    // Captions
    .wp-caption {
      margin-bottom: 24px;
      background: #f8f8f8;
      border: 1px solid #ccc;
      padding: 5px;
      max-width: 100%;
      border-radius: 5px;
      box-sizing: border-box;
    }

    .wp-caption-text {
      text-align: center;
      font-size: 1.2rem;
      font-style: italic;
      line-height: 1.5;
      margin: 9px auto;
    }

    .wp-caption img[class*="wp-image-"] {
      display: block;
      margin: 0 auto;
    }

    // Gallery
    .gallery {
      margin-bottom: 20px;

      a img {
        border: 0 !important;
      }
    }

    .gallery-item {
      float: left;
      margin: 0 4px 4px 0;
      overflow: hidden;
      position: relative;
    }

    .gallery-columns-1 .gallery-item {
      max-width: 100%;
    }

    .gallery-columns-2 .gallery-item {
      max-width: 48%;
      max-width: -webkit-calc(50% - 4px);
      max-width: calc(50% - 4px);
    }

    .gallery-columns-3 .gallery-item {
      max-width: 32%;
      max-width: -webkit-calc(33.3% - 4px);
      max-width: calc(33.3% - 4px);
    }

    .gallery-columns-4 .gallery-item {
      max-width: 23%;
      max-width: -webkit-calc(25% - 4px);
      max-width: calc(25% - 4px);
    }

    .gallery-columns-5 .gallery-item {
      max-width: 19%;
      max-width: -webkit-calc(20% - 4px);
      max-width: calc(20% - 4px);
    }

    .gallery-columns-6 .gallery-item {
      max-width: 15%;
      max-width: -webkit-calc(16.7% - 4px);
      max-width: calc(16.7% - 4px);
    }

    .gallery-columns-7 .gallery-item {
      max-width: 13%;
      max-width: -webkit-calc(14.28% - 4px);
      max-width: calc(14.28% - 4px);
    }

    .gallery-columns-8 .gallery-item {
      max-width: 11%;
      max-width: -webkit-calc(12.5% - 4px);
      max-width: calc(12.5% - 4px);
    }

    .gallery-columns-9 .gallery-item {
      max-width: 9%;
      max-width: -webkit-calc(11.1% - 4px);
      max-width: calc(11.1% - 4px);
    }

    .gallery-columns-10 .gallery-item {
      max-width: 7%;
      max-width: -webkit-calc(9.4% - 0px);
      max-width: calc(9.4% - 0px);
    }

    .gallery-columns-1 .gallery-item:nth-of-type(1n),
    .gallery-columns-2 .gallery-item:nth-of-type(2n),
    .gallery-columns-3 .gallery-item:nth-of-type(3n),
    .gallery-columns-4 .gallery-item:nth-of-type(4n),
    .gallery-columns-5 .gallery-item:nth-of-type(5n),
    .gallery-columns-6 .gallery-item:nth-of-type(6n),
    .gallery-columns-7 .gallery-item:nth-of-type(7n),
    .gallery-columns-8 .gallery-item:nth-of-type(8n),
    .gallery-columns-9 .gallery-item:nth-of-type(9n),
    .gallery-columns-10 .gallery-item:nth-of-type(10n) {
      margin-right: 0;
    }

    .gallery-caption {
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      font-size: 1.2rem;
      line-height: 1.5;
      margin: 0;
      max-height: 50%;
      opacity: 0;
      padding: 6px 8px;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: left;
      width: 100%;
      box-sizing: border-box;
    }

    .gallery-caption:before {
      content: "";
      height: 100%;
      min-height: 49px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .gallery-item:hover .gallery-caption {
      opacity: 1;
    }

    .gallery-columns-7 .gallery-caption,
    .gallery-columns-8 .gallery-caption,
    .gallery-columns-9 .gallery-caption,
    .gallery-columns-10 .gallery-caption {
      display: none;
    }

    // Etc
    .wp-smiley {
      border: 0;
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
    }

    address {
      margin: 0 0 24px 0;
      line-height: 2.2;
    }

    pre {
      border-left: 3px solid #ccc;
      background: #f8f8f8;
      font-size: 1.2rem;
      margin: 0 0 27px 0;
      line-height: 1.7;
      padding: 20px;
      overflow: auto;
    }

    .mejs-container {
      margin: 12px 0 25px;
    }

    // Cardlink style
    .cardlink {
      word-wrap: break-word;
      max-width: 100%;
      margin: 45px 0 !important;
      padding: 12px;
      border: 1px solid #ddd;
      background: #fafafa;
    }

    .cardlink_thumbnail {
      margin-right: 20px;
      float: left;
    }

    .cardlink_content {
      line-height: 1.6;
    }

    .cardlink_timestamp {
      display: inline;
      margin: 0;
      padding: 0;
      color: #222;
      font-size: 1.2rem;
      line-height: 1.6;
      vertical-align: top;
    }

    .cardlink_title {
      margin: 0 0 5px;
      font-size: 1.4rem;

      a {
        color: #000;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .cardlink_excerpt {
      overflow: hidden;
      color: #333;
      font-size: 1.2rem;
      line-height: 1.8;
    }

    .cardlink_footer {
      clear: both;
    }

    // Google Map
    .p-btn {
      box-sizing: border-box;
      display: inline-block;
      min-width: 180px;
      height: 50px;
      padding: 0 15px;
      border-radius: 0;
      color: #fff;
      font-size: 1.4rem;
      line-height: 50px;
      text-align: center;
    }

    // Map & Video
    iframe {
      width: 100%;
      margin: 24px 0;
    }
  }
}
