/* ---------- Contact Page ---------- */
.p-contact {
  // Main
  &__main {
    &--wrapper {
      padding-top: 120px;
      padding-bottom: 120px;
    }
    &--header {
      p {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 2;
        margin-bottom: 0;
        overflow: hidden;

        &:not(:first-of-type) {
          margin-top: 20px;
        }
      }
    }
    &--body {
      .contact-form {
        width: 100%;
        max-width: 720px;
        margin: 40px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__name {
          flex: 0 0 40%;
          max-width: 40%;
          color: #333;
          font-size: 1.6rem;
          font-weight: bold;
          text-align: left;
          vertical-align: middle;
          padding: 16px;
          span {
            display: inline-block;
            color: var(--red);
            font-size: 1.4rem;
            font-weight: 600;
            margin-left: 8px;
            &::before {
              content: "*";
              padding-right: 4px;
            }
          }
        }
        &__form {
          flex: 0 0 60%;
          max-width: 60%;
          position: relative;
          padding: 16px;
          input {
            width: 100%;
            border: 1px solid #1f1f1f;
            border-radius: 4px;
            background-color: #fff;
            color: #1f1f1f;
            font: 16px/24px sans-serif;
            letter-spacing: 1px;
            text-indent: 4px;
            padding: 12px 8px;
          }
          textarea {
            width: 100%;
            border: 1px solid #1f1f1f;
            color: #1f1f1f;
            font: 16px/24px sans-serif;
            letter-spacing: 1px;
            text-indent: 4px;
            padding: 12px 8px;
          }
        }
        &__text {
          text-align: center;
          margin-bottom: 20px;
          font-size: 1.6rem;
          font-weight: 400;
          a {
            display: inline-block;
            text-decoration: underline;
          }
        }
        &__privacy {
          text-align: center;
          margin-bottom: 40px;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
    }
  }
  // Button
  &__btn {
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (max-width: 991px) {
    &__main {
      &--header {
        p {
          font-size: 2.0rem;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    &__main {
      &--header {
        p {
          font-size: 1.8rem;
        }
      }
      &--body {
        .contact-form {
          display: block;
          max-width: 100%;
          tr {
            display: block;
            max-width: 100%;
          }
          th {
            display: block;
            max-width: 100%;
          }
          td {
            display: block;
            max-width: 100%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 575px) {
    &__main {
      &--header {
        p {
          font-size: 1.6rem;
        }
      }
    }
  }
}
