/* ---------- Page - Key Visual ---------- */
.p-page {
  &__visual {
    margin-top: -60px;
    padding-left: 405px;
    position: relative;
    z-index: 1;
    &-image {
      height: calc(100vh - 240px);
      position: relative;
      background-color: #888;
      img {
        width: 100%;
        height: calc(100vh - 240px);
        object-fit: cover;
        z-index: 10;
      }
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    height: calc(50vh - 120px);
    z-index: 20;
  }

  &__intro {
    &--wrapper {
      padding-top: 120px;
      padding-bottom: 120px;
    }
    &--body {
      p {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 2;
        margin-bottom: 0;
        overflow: hidden;
        &:not(:first-of-type) {
          margin-top: 40px;
        }
      }
    }
  }

  @media screen and (max-width: 1199px) {
    &__title {
      width: 50%;
    }
  }

  @media screen and (max-width: 991px) {
    &__visual {
      padding-left: 0;
    }
    &__title {
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
    }
    &__intro {
      &--body {
        p {
          font-size: 2rem;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    &__title {
      width: 70%;
    }
  }

  @media screen and (max-width: 575px) {
    &__title {
      width: 80%;
    }
    &__intro {
      &--body {
        p {
          font-size: 1.6rem;
        }
      }
    }
  }
}

/* ---------- Nara Page - Key Visual ---------- */
.p-nara {
  &__visual {
    position: relative;
    z-index: 10;
  }
  &__visual-image {
    height: calc(100vh - 240px);
    position: relative;
    background-color: #888;
    img {
      width: 100%;
      height: calc(100vh - 240px);
      object-fit: cover;
      z-index: 10;
    }
  }

  @media screen and (max-width: 991px) {
  }

  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 575px) {
  }
}
