/* ---------- About Media ---------- */
.c-media__concept--item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 6.4rem;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.c-media__concept--img-wrapper {
  flex: 0 1 27.58333%;
  margin-right: 3.33333%;
  overflow: hidden;
  img {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.c-media__concept--info {
  flex: 1;
  @media screen and (max-width: 767px) {
    padding-top: 20px;
  }
}

.c-media__concept--title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2;
  @media screen and (max-width: 991px) {
    font-size: 2.2rem;
  }
  @media screen and (max-width: 575px) {
    font-size: 2rem;
  }
}

.c-media__concept--description {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  @media screen and (max-width: 991px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 575px) {
    font-size: 1.4rem;
  }
}

/* ---------- Service Media ---------- */
.c-media__category--info {
  display: flex;
  align-items: center;
  width: 100%;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.c-media__category--img-wrapper {
  flex: 0 1 40.58333%;
  margin-right: 3.33333%;
  overflow: hidden;
  img {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.c-media__category--text {
  flex: 1;
  p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
  }
  @media screen and (max-width: 991px) {
    p {
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width: 575px) {
    p {
      font-size: 1.4rem;
    }
  }
}

/* ---------- Flow Media ---------- */
.c-media__flow--item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 6.4rem;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.c-media__flow--img-wrapper {
  flex: 0 1 27.58333%;
  margin-right: 3.33333%;
  overflow: hidden;
  img {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.c-media__flow--info {
  flex: 1;
}

.c-media__flow--title {
  position: relative;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 100%;
  margin: 20px 0;
  padding-left: 3em;
  &::before {
    content: attr(data-number);
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 5px;
    color: var(--orange);
    font-size: 3.2rem;
    font-weight: 600;
    border-bottom: 1px solid var(--orange);
  }
  @media screen and (max-width: 991px) {
    font-size: 2.2rem;
    &::before {
      font-size: 2.8rem;
    }
  }
  @media screen and (max-width: 575px) {
    font-size: 2.0rem;
    &::before {
      font-size: 2.4rem;
    }
  }  
}

.c-media__flow--description {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.7;
  @media screen and (max-width: 991px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 575px) {
    font-size: 1.4rem;
  }
}
