/* ---------- About Media ---------- */
.c-media__concept {
  &--item {
    display: block;
    width: 100%;
    margin-bottom: 6.4rem;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }  
  &--img-wrapper {
    flex: 0 1 27.58333%;
    margin-right: 0;
    margin-bottom: 20px;
    overflow: hidden;
    @media screen and (min-width: 768px) {
      margin-right: 3.33333%;
      margin-bottom: 0;
    }
    img {
      width: 100%;
    }
  }
  &--info {
    padding-top: 20px;
    @media screen and (min-width: 768px) {
      flex: 1;
    }
  }
  &--title {
    font-size: clamp(20px, 4vw, 24px);
    font-weight: 600;
    line-height: 2;
  }
  &--description {
    font-size: clamp(14px, 4vw, 16px);
    font-weight: 400;
    line-height: 1.7;
  }
}

/* ---------- Service Media ---------- */
.c-media__category--info {
  display: block;
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.c-media__category--img-wrapper {
  flex: 0 1 40.58333%;
  margin-right: 3.33333%;
  overflow: hidden;
  img {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.c-media__category--text {
  flex: 1;
  p {
    font-size: clamp(14px, 4vw, 16px);
    font-weight: 400;
    line-height: 1.7;
  }
}

/* ---------- Flow Media ---------- */
.c-media__flow--item {
  display: block;
  width: 100%;
  margin-bottom: 6.4rem;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.c-media__flow--img-wrapper {
  flex: 0 1 27.58333%;
  margin-right: 3.33333%;
  overflow: hidden;
  img {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
.c-media__flow--info {
  flex: 1;
}
.c-media__flow--title {
  position: relative;
  font-size: clamp(20px, 4vw, 24px);
  font-weight: 400;
  line-height: 100%;
  margin: 20px 0;
  padding-left: 3em;
  &::before {
    content: attr(data-number);
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 5px;
    color: var(--orange);
    font-size: clamp(24px, 4vw, 32px);
    font-weight: 600;
    border-bottom: 1px solid var(--orange);
  }
}
.c-media__flow--description {
  font-size: clamp(14px, 4vw, 16px);
  font-weight: 300;
  line-height: 1.7;
}
