/* ---------- Paginnation 全体 ---------- */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.page-numbers {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px;
  font-size: clamp(14px, 4vw, 16px);
  color: #383838;
  line-height: 100%;
  text-align: center;
  border: 1px solid #383838;
  transition: var(--transition-2);
  cursor: pointer;
  &:hover {
    background-color: var(--yellow);
    opacity: 0.8;
  }
  &.current {
    background-color: transparent;
  }
  @media screen and (min-width: 576px) {
    padding: 12px;
  }
  @media screen and (min-width: 768px) {
    padding: 16px;
  }
}

/* ---------- Pagenavi 個別 ---------- */
.single-pagenavi {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  text-align: center;
  border: 1px solid var(--black);
  span {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    color: #333;
    font-size: 1.4rem;
    line-height: 120%;
    text-decoration: none;
    a {
      display: block;
      color: #333;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &.arrow-left {
      position: relative;
      padding: 30px 20px 30px 35px;
      text-align: left;
      a::before {
        content: "\f104";
        font-family: 'Font Awesome 5 Free';
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 100%;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
      }
    }
    &.return {
      position: relative;
      padding: 30px 20px;
      text-align: center;
    }
    &.arrow-right {
      position: relative;
      padding: 30px 35px 30px 20px;
      text-align: right;
      a::after {
        content: "\f054";
        font-family: 'Font Awesome 5 Free';
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 100%;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
      }
    }
  }
}
