/* ---------- Index Title ---------- */
.c-title__primary {
  margin: 0;
  .en {
    font-family: "Roboto", sans-serif;
    font-size: clamp(16px, 4vw, 24px);
    font-weight: 600;
    line-height: 2;
    color: var(--yellow);
  }
  .ja {
    z-index: 2;
    position: relative;
    margin-top: 8px;
    font-size: clamp(24px, 4vw, 32px);
    font-weight: 600;
    line-height: 1.5;
  }
}

/* ---------- Index-Contact Title ---------- */
.c-title__contact-primary {
  color: var(--orange);
  font-size: clamp(20px, 4vw, 32px);
  font-weight: 600;
  text-align: center;
}

.c-title__contact-secondary {
  font-size: clamp(16px, 4vw, 20px);
  font-weight: 400;
  text-align: center;
  padding: 1rem 4rem;
  border-top: 8px double var(--black);
  border-bottom: 8px double var(--black);
}

/* ---------- Page Title ---------- */
.c-title__page-primary {
  margin: 0;
  background-color: var(--yellow);
  opacity: 0.8;
  z-index: var(--z-base);
  &--wrapper {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .ja {
      font-size: clamp(24px, 4vw, 32px);
      font-weight: 600;
      line-height: 2;
      color: var(--white);
    }
    .en {
      font-size: clamp(14px, 4vw, 18px);
      line-height: 1.5;
      font-weight: 400;
      background-color: var(--black);
      opacity: 0.8;
      color: var(--yellow);
      padding: 1rem 2rem;
    }
  }
}
.c-title__page-secondary {
  position: relative;
  padding-top: 32px;
  padding-bottom: 24px;
  font-size: clamp(20px, 4vw, 26px);
  text-align: center;
  font-weight: 300;
  @media screen and (min-width: 576px) {
    padding-top: 40px;
    padding-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 48px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 991px) {
    padding-top: 56px;
    padding-bottom: 48px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 64px;
    padding-bottom: 56px;
  }
  span {
    position: relative;
    z-index: 9;
  }
  &::before {
    content: attr(data-en);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--orange);
    opacity: 0.3;
    font-size: clamp(40px, 4vw, 80px);
    font-style: italic;
    z-index: 1;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(30deg);
    width: 1px;
    height: 40px;
    background-color: var(--orange);
  }
}

/* ---------- Service - Category - Page Title ---------- */
.c-title__category {
  position: relative;
  font-size: clamp(24px, 4vw, 32px);
  font-weight: 400;
  line-height: 100%;
  margin: 20px 0;
  padding-left: 2em;
  &::before {
    content: attr(data-number);
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 5px;
    color: var(--orange);
    font-size: clamp(24px, 4vw, 32px);
    font-weight: 600;
    border-bottom: 1px solid var(--orange);
  }
}

/* ---------- Sidebar - Title ---------- */
.c-title__sidebar {
  font-weight: 400;
  margin: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--orange);
  .ja {
    z-index: 2;
    position: relative;
    font-size: clamp(16px, 4vw, 20px);
    line-height: 1.5;
  }
}
