.l-footer {
  width: 100%;
  position: relative;
  background-color: var(--black);
  &__main {
    border-bottom: 1px solid var(--white);
  }
  &__logo {
    margin: 0;
    padding-bottom: 40px;
    img {
      width: 60px;
    }
    span {
      font-size: clamp(20px, 4vw, 28px);
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 100%;
      color: var(--white);
    }
    img {
      width: 40px;
      @media screen and (min-width: 576px) {
        width: 48px;
      }
      @media screen and (min-width: 768px) {
        width: 56px;
      }
      @media screen and (min-width: 992px) {
        width: 64px;
      }
    }
  }
  &__address {
    padding-right: 40px;
    dt,
    dd {
      font-size: clamp(14px, 4vw, 16px);
      color: var(--white);
      font-weight: 400;
      line-height: 1.5;
    }
    dt {
      line-height: 3;
      border-bottom: 6px double #fff;
    }
    dd {
      padding: 16px 0;
    }
  }
  &__sns-list {
    display: inline-block;
    height: 60px;
    padding: 15px 0;
    letter-spacing: -0.4em;
  }
  &__sns-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
    font-size: clamp(20px, 4vw, 24px);
    line-height: 30px;
    letter-spacing: 0.05em;
  }
  &__sns-link {
    .icon {
      display: inline-block;
      animation: sns-float 5s ease-in-out infinite;
      &.icon-facebook {
        color: var(--facebook-color);
      }
      &.icon-twitter {
        color: var(--twitter-color);
        animation-delay: 1s;
      }
      &.icon-instagram {
        color: var(--instagram-color);
        animation-delay: 2s;
      }
      &.icon-line {
        color: var(--line-color);
        animation-delay: 3s;
      }
    }
  }
  &__copyright {
    padding: 16px 0;
    p {
      color: var(--white);
      font-size: clamp(12px, 4vw, 14px);
      font-weight: 400;
      text-align: center;
    }
  }
}
