.l-main {
  position: relative;
}
.l-section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 576px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}