/* ---------- About Page ---------- */
// Concept Section
.p-about__concept {
  &--message {
    padding: 60px 0;
    @media screen and (min-width: 576px) {
      padding: 80px;
    }
    @media screen and (min-width: 768px) {
      padding: 100px;
    }
    @media screen and (min-width: 992px) {
      padding: 120px;
    }
    strong {
      display: block;
      font-size: clamp(24px, 4vw, 40px);
      font-weight: 600;
      line-height: 2;
      text-align: center;
    }
  }
  &--list {
    margin: 40px 0;
  }
}

// Company Section
.p-about__company {
  &--table {
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    tr {
      border-bottom: 1px solid var(--dark);
    }
    th {
      width: 30%;
      font-weight: 400;
      text-align: left;
      vertical-align: middle;
      padding: 20px;
    }
    td {
      width: 60%;
      font-weight: 300;
      line-height: 1.7;
      text-align: left;
      vertical-align: middle;
      padding: 20px;
    }
  }
}
