/* ---------- FAQ Page ---------- */
.p-faq__main--wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}
.p-faq__list {
  margin: 0 0 40px;
}
.p-faq__item {
  position: relative;
  display: flex;
  align-items: flex-start;
  box-sizing: content-box;
  min-height: 45px;
  padding-left: 60px;
}
.p-faq__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-weight: normal;
  line-height: 45px;
  text-align: center;
}
.p-faq__question {
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: bold;
  &-icon {
    background-color: var(--orange);
    color: var(--white);
  }
  &-text {
    padding-top: 12px;
  }
}
.p-faq__answer {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  font-size: 1.6rem;
  &-icon {
    background-color: #efefef;
  }
  &-body {
    padding-top: 12px;
  }
  &-text {
    margin-bottom: 20px;
  }
}
