/* ---------- Index - Key Visual ---------- */
.p-index__visual {
  margin-top: -60px;
  padding-left: 405px;
  position: relative;
  z-index: var(--z-base);
  height: calc(100vh - 240px);

  @media screen and (max-width: 991px) {
    padding-left: 0;
  }
}

.p-index__visual--catch {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: var(--z-catch);
  font-size: 5.6rem;
  font-family: "Roboto", sans-serif;
  color: #383838;
  line-height: 2;
  span {
    color: var(--primary);
    text-shadow: 0 0 10px #ff0;
  }

  @media screen and (max-width: 1199px) {
    font-size: 4.8rem;
  }
  @media screen and (max-width: 991px) {
    font-size: 4.0rem;
    color: #fff;
  }
  @media screen and (max-width: 767px) {
    font-size: 3.2rem;

  }
  @media screen and (max-width: 575px) {
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.4rem;
  }
}

.p-index__visual--slide {
  height: calc(100vh - 240px);
  position: relative;
  background-color: var(--gray);
  &.swiper-container {
    width: 100%;
    .swiper-slide {
      &[class*="-active"] {
        .slide-img__wrapper img {
          transition-delay: 0s;
          transform: scale(1.05);
        }
        .slide-title {
          animation: swiper-fadeIn 2s 0.5s ease-in-out both;
        }
      }
    }
    .slide-img__wrapper {
      position: relative;
      overflow: hidden;
      height: calc(100vh - 240px);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: var(--z-swiper);
      }
    }
    .slide-title {
      font-size: 2.8rem;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      line-height: 2;
      position: absolute;
      right: 10%;
      bottom: 5%;
      color: #fff;
    }
  }
  @media screen and (max-width: 1199px) {
    &.swiper-container {
      .slide-title {
        font-size: 2.6rem;
      }
    }
  }
  @media screen and (max-width: 991px) {
    &.swiper-container {
      .slide-title {
        font-size: 2.4rem;
      }
    }
  }
  @media screen and (max-width: 767px) {
    &.swiper-container {
      .slide-title {
        font-size: 2.2rem;
      }
    }
  }
  @media screen and (max-width: 575px) {
    &.swiper-container {
      .slide-title {
        font-size: 2.0rem;
      }
    }
  }
}

/* ---------- Index - About ---------- */
.p-index__about--wrapper {
  padding-top: 120px;
  padding-bottom: 120px;
}

.p-index__about--catch {
  p {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0;
    overflow: hidden;
  }
  @media screen and (max-width: 1199px) {
    p {
      font-size: 3rem;
    }
  }
  @media screen and (max-width: 991px) {
    p {
      font-size: 2.8rem;
    }
  }
  @media screen and (max-width: 767px) {
    p {
      font-size: 2.6rem;
    }
  }
  @media screen and (max-width: 575px) {
    p {
      font-size: 2.4rem;
    }
  }
}

.p-index__about--lead {
  p {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 2;
    margin-bottom: 0;
    overflow: hidden;
    &:not(:first-of-type) {
      margin-top: 40px;
    }
  }
  @media screen and (max-width: 1199px) {
    p {
      font-size: 2.2rem;
    }
  }
  @media screen and (max-width: 991px) {
    p {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 767px) {
    p {
      font-size: 1.8rem;
    }
  }
  @media screen and (max-width: 575px) {
    p {
      font-size: 1.6rem;
    }
  }
}

/* ---------- Index - Service ---------- */
.p-index__service--wrapper {
  padding-top: 120px;
  padding-bottom: 60px;
}

.p-index__service--lead {
  p {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0;
    overflow: hidden;
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 1199px) {
    p {
      font-size: 2.2rem;
    }
  }
  @media screen and (max-width: 991px) {
    p {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 767px) {
    p {
      font-size: 1.8rem;
    }
  }
  @media screen and (max-width: 575px) {
    p {
      font-size: 1.6rem;
    }
  }
}

.p-index__service--group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

/* ---------- Index - Project ---------- */
.p-index__project--wrapper {
  padding-top: 60px;
  padding-bottom: 120px;
}

.p-index__project--lead {
  p {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0;
    overflow: hidden;
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 1199px) {
    p {
      font-size: 2.2rem;
    }
  }
  @media screen and (max-width: 991px) {
    p {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 767px) {
    p {
      font-size: 1.8rem;
    }
  }
  @media screen and (max-width: 575px) {
    p {
      font-size: 1.6rem;
    }
  }
}

/* ---------- Index - News ---------- */
.p-index__news--wrapper {
  padding-top: 120px;
  padding-bottom: 60px;
}

.p-index__news--lead {
  p {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 0;
    overflow: hidden;
  }
  @media screen and (max-width: 1199px) {
    p {
      font-size: 2.2rem;
    }
  }
  @media screen and (max-width: 991px) {
    p {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 767px) {
    p {
      font-size: 1.8rem;
    }
  }
  @media screen and (max-width: 575px) {
    p {
      font-size: 1.6rem;
    }
  }
}

.p-index__news--contents {
  flex-basis: calc(100% - 200px);
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
}

/* ---------- Index - Blog ---------- */
.p-index__blog--wrapper {
  padding-top: 60px;
  padding-bottom: 120px;
}

.p-index__blog--lead {
  p {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 0;
    overflow: hidden;
  }
  @media screen and (max-width: 1199px) {
    p {
      font-size: 2.2rem;
    }
  }
  @media screen and (max-width: 991px) {
    p {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 767px) {
    p {
      font-size: 1.8rem;
    }
  }
  @media screen and (max-width: 575px) {
    p {
      font-size: 1.6rem;
    }
  }
}

.p-index__blog--contents {
  flex-basis: calc(100% - 200px);
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  .swiper-container {
    overflow: hidden;
  }
  .swiper-wrapper {
    transition-timing-function: linear !important;
  }

  .swiper-slide {
    width: max-content;
  }

  .slide {
    overflow: hidden;
    width: 36rem;
    box-shadow: rgba(0, 0, 0, 0.16);
  }
  .slide-media {
    position: relative;
    overflow: hidden;
    padding-top: 62.5%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% + 16px);
      transform: translateY(-16px);
      object-fit: cover;
    }
  }
  .slide-content {
    padding: 3.2rem;
  }
  .slide-date {
    font-size: 1.6rem;
    line-height: 1.5;
    display: block;
    @media screen and (max-width: 991px) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: 575px) {
      font-size: 1.4rem;
    }
  }
  .slide-title {
    font-size: 1.6rem;
    line-height: 1.5;
    overflow: hidden;
    height: 3.2em;
    margin-top: 1.6rem;
    @media screen and (max-width: 991px) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: 575px) {
      font-size: 1.4rem;
    }
  }
}

/* ---------- Index - Banner ---------- */
.p-index__banner {
  position: relative;
  padding-top: 33.3333%;
}

.p-index__banner--elem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}

.p-index__banner--elem-1 {
  background-image: url("../../assets/img/image1.jpg");
}

.p-index__banner--elem-2 {
  background-image: url("../../assets/img/image2.jpg");
}
