/* ---------- Page - Key Visual ---------- */
.p-page__visual {
  margin-top: -60px;
  padding-left: 0;
  position: relative;
  z-index: var(--z-base);
  @media screen and (min-width: 992px) {
    padding-left: 405px;
  }
}
.p-page__visual--img-wrapper {
  height: calc(100vh - 240px);
  position: relative;
  background-color: #888;
  img {
    width: 100%;
    height: calc(100vh - 240px);
    object-fit: cover;
    z-index: 10;
  }
}
.p-page__title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: calc(50vh - 120px);
  z-index: 20;
  @media screen and (min-width: 576px) {
    width: 72%;
  }
  @media screen and (min-width: 768px) {
    width: 64%;
    left: 0;
    transform: translateX(0);
  }
  @media screen and (min-width: 992px) {
    width: 56%;
  }
  @media screen and (min-width: 1200px) {
    width: 48%;
  }
}
.p-page__intro--body {
  p {
    font-size: clamp(16px, 4vw, 20px);
    font-weight: 400;
    line-height: 2;
    margin-bottom: 0;
    overflow: hidden;
    &:not(:first-of-type) {
      margin-top: 40px;
    }
  }
}
