/* ---------- Service Page ---------- */
// Category
.p-service__category {
  &--list {
    margin: 40px 0;
  }
  &--item {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.4rem;
  }
  &--item + .p-service__category--item {
    padding-top: 40px;
  }
  &--info {
    margin-bottom: 6.4rem;
  }
}
