/* ---------- Service Page ---------- */
// Category
.p-service__category--wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

.p-service__category--list {
  margin: 40px 0;
}

.p-service__category--item {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6.4rem;
}

.p-service__category--item + .p-service__category--item {
  padding-top: 40px;
}

.p-service__category--info {
  margin-bottom: 6.4rem;
}
