@use '../foundation/variable' as *;
@use '../foundation/mixin' as *;

.l-aside {
  padding-bottom: 80px;
  &__title {
    padding-bottom: 10px;
    margin-top: 80px;
    text-align: center;
  }
  &__contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/* ---------- Contact ---------- */
.aside__contact {
  background-color: rgba(221, 116, 44, 0.05);
  border-top: 1px solid $accent;
  border-bottom: 1px solid $accent;
  &--detail {
    margin-top: 16px;
    text-align: center;

    @include mq(sm) {
      text-align: left;
    }
  }
  &--tel {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2;
    span {
      font-size: 2rem;

      @include mq(sm) {
        font-size: 2.4rem;
      }

      @include mq(lg) {
        font-size: 2.8rem;
      }
    }
  }
  &--time {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
  }
  &--text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
  }
  &--btn {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }
}
