/* ---------- Contact ---------- */
.l-aside__contact {
  &--wrapper {
    margin-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(221, 116, 44, 0.05);
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
  }

  &--title {
    padding-bottom: 10px;
    margin-top: 80px;
    text-align: center;
  }

  &--contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &--detail {
    margin-top: 16px;
  }

  &--tel {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2;
    span {
      font-size: 2.8rem;
    }
  }

  &--time {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
  }

  &--text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
  }

  &--btn {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (max-width: 991px) {
    &--tel {
      span {
        font-size: 2.4rem;
      }
    } 
  }

  @media screen and (max-width: 575px) {
    &--tel {
      span {
        font-size: 2.0rem;
      }
    } 
    &--detail {
      text-align: center;
    }
  }
}
