/* ---------- Header Navigation ---------- */
.l-header-nav {
  position: absolute;
  top: 0;
  right: 0;

  &__list {
    display: inline-block;
    height: 60px;
    padding: 15px 30px;
    letter-spacing: -.40em;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    font-size: 1.8rem;
    line-height: 30px;
    letter-spacing: 0.05em;
  
    &:nth-child(4) {
      padding-right: 35px;
      margin-right: 30px;
      border-right: 1px solid rgba(148, 104, 68, 0.3);
    }
  }
  &__link {
    .icon {
      display: inline-block;
      &.facebook {
        color: var(--facebook-color);
      }
      &.twitter {
        color: var(--twitter-color);
      }
      &.instagram {
        color: var(--instagram-color);
      }
      &.line {
        color: var(--line-color);
      }
    }
  }
}

/* ---------- Global Navigation ---------- */
.l-global-nav {
  text-align: right;

  &__list {
    display: inline-block;
    height: 60px;
    padding: 20px 0 0;
    position: relative;
    transition: all 0.3s ease;
    z-index: 10;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.05em;
    margin-right: 20px;
    position: relative;
  }
  &__link {
    display: block;
    color: #333;
    transition: all 0.3s ease;
    &:hover {
      color: #6b4c32;
    }
  }
}

/* ---------- Footer Navigation ---------- */
.l-footer-nav {
  padding-left: 40px;
  &__list {
    list-style-type: none;
  }

  &__item {
    padding-bottom: 16px;
    &:last-child {
      padding-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    overflow: hidden;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-property: color;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
      color: var(--yellow);
    }
  }
}

/* ---------- Menu Toggle ---------- */
.menu-toggle {
  display: none;
  position: absolute;
  top: 5px;
  right: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 100;
  cursor: pointer;
  .line {
    display: block;
    width: 40px;
    height: 3px;
    background-color: var(--orange);
    margin-block: 10px;
    border-radius: 4px;
    transition: transform 0.3s ease-in;
    opacity: 0.25s;
  }
  &.active {
    .line:nth-child(1) {
      transform: translateY(13px) rotate(45deg);
    }
    .line:nth-child(2) {
      opacity: 0;
    }
    .line:nth-child(3) {
      transform: translateY(-13px) rotate(-45deg);
    }
  }
}

@media (max-width: 991px) {
  .menu-toggle {
    display: block;
  }
  .l-header-nav {
    display: none;
  }
  .l-global-nav {
    display: none;
  }
  .l-footer-nav {
    display: none;
  }
}

/* ---------- Drawer Navigation ---------- */
.l-drawer-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #333;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  will-change: auto;
  z-index: 90;
  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100%;
  }
  
  &__wrapper {
    z-index: 2;
    position: relative;
    padding: 40px 0;
  }

  &__col {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 40px;
    padding: 0;
    color: #fff;
    list-style: none;    
  }
  &__item {
    padding: 1rem;
    &:not(:first-of-type) {
      margin-top: 40px;
    }
    &.swim,
    &.nara {
      border: 1px solid #9a9a9a;
    }
    &:hover {
      color: var(--yellow);
    }
  }
  &__link {
    display: inline-block;
    overflow: hidden;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    &-en {
      font-size: 2.4rem;
      line-height: 1;
    }
    &-ja {
      margin-top: 8px;
      font-size: 0.75rem;
      line-height: 1;
    }
  }

  &.open {
    display: block;
  }
}
