/* ---------- Sidebar ---------- */
.l-sidebar {

  &__content {
    margin: 0 0 40px 0;
  }

  &__item + .l-sidebar__item {
    margin: 40px 0;
  }

  &__list {
    &--category {
      ul {
        margin-top: 20px;
        margin-bottom: 0;
        padding: 20px 0 0;
        border-top: 1px solid #1f1f1f;
        list-style: none;

        li {
          display: block;
          position: relative;
          padding: 8px;
          color: #333;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
    }
  }
}


